@use "../variables.scss";

$header-size: 7mm;

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: variables.$spacing-2;
	gap: variables.$spacing-2;
}

.name {
	text-transform: uppercase;
	font-size: $header-size;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: variables.$spacing variables.$spacing-3;
	grid-auto-flow: row;
	grid-template-areas:
		". . ."
		". . .";

	& li {
		padding-right: 3mm;
	}
	& li:not(:last-of-type):not(:nth-of-type(3)) {
		border-right: 1px solid variables.$primary;
	}
}

.summary {
	line-height: 5mm;
	word-spacing: 0.1mm;
	letter-spacing: 0.1mm;
}

.personal {
	font-size: calc($header-size * 0.6);
}

.links {
	font-size: calc($header-size * 0.52);
}
